<nav>
    <div class = 'site-title'>
        <a href="/"><h1>Project</h1></a>
        <p>First</p>
    </div>
    <ul>
        <li><a = href ="/blogs/create">POST</a></li>
        <li><a = href ="/">HOME</a></li>
        <li><a = href ="/about">ABOUT US</a></li>
        <li><a = href ="/contact">CONTACT US</a></li>
    </ul>
</nav>