<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class = "about content">
        <h2>About us</h2>
        <p>I am an electrical engineering student.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>