<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
      <h1>Compose</h1>
        <form action="/blogs" method="POST">
          <label for="title"> Title</label>
          <input type="text" id="title" name="title" required>
          <label for="body">Body</label>
          <textarea id="body" name="body" required></textarea>
          <button>Publish</button>
        </form>
      </div>
      <%- include('./partials/footer.ejs') %>
</body>
</html>